/* 
    Created on : Nov 26, 2014, 8:21:08 PM
    Author     : bobbydonald
*/

tabs-centre .ui-tabs-nav { 
    height: 2.35em; 
    text-align: center; 
} 
tabs-centre .ui-tabs-nav li { 
    display: inline-block; 
    float: none; 
    top: 0px; 
    margin: 0em; 
}